@model Atividade2.ViewModels.DadosExerciciosDisponiveis // id exercício, nome exercício, checked y/n

<div class="btn-group-toggle" data-toggle="buttons">
    <label class="
        col-5
        m-1
        btn
        btn-outline-@((Model.Incluido) ? "primary" : "danger") 
        btn-toggle @((Model.Incluido) ? "active" : "")
        ">
        <input type="checkbox" autocomplete="off" name="exerciciosSelecionados" value="@Model.ExercicioID" checked="@Model.Incluido" /> @Model.Nome - @Model.Descricao
        <!--imagem aqui, usar Jquery to change source-->
    </label>
</div>